.superInput {

}
.input:focus {
    outline: none;
    border: aqua;
}

.superInput {
    margin: 10px;

    background: #536544;
    color: aqua;
}

.errorInput {
    margin: 10px;
    background: red;
    border: 2px solid aqua;
}

.error {
    color: red;
    height: 21px;
    margin-left: 10px;
}